@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/* Font Definitions */
/*
 * Variables 
 */
/**********/
/* Mixins */
/**********/
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  height: 100%;
  background-color: #8a230f;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
h1 {
  margin-bottom: 1em;
}
p {
  margin: 1em 0;
}
a {
  color: #000000;
}
a:hover {
  color: #8a230f;
}
body {
  font-size: 18px;
}
/*****************************************************************************/
/*
    /* Site
    /*
    /*****************************************************************************/
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}
.container .header {
  margin-top: 9px;
  margin-bottom: 9px;
  line-height: normal;
}
.container .header h1.title {
  font-family: 'Great Vibes', Helvetica, sans-serif;
  font-size: 81px;
  margin-bottom: 0;
  color: #000000;
  display: inline-block;
}
.container .header a {
  font-weight: bold;
  text-decoration: none;
}
.container .header a:hover {
  color: rgba(0, 0, 0, 0.7);
}
.container .site {
  text-align: center;
  line-height: 1.5em;
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 2px 2px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3);
  height: 100%;
  background: #8d8244;
}
.container .site .breadcrumb {
  list-style: none;
  overflow: hidden;
  font-size: 18px;
}
.container .site .breadcrumb li {
  float: left;
}
.container .site .breadcrumb li a {
  color: #000000;
  text-decoration: none;
  padding: 10px 0 10px 65px;
  background: rgba(138, 35, 15, 0.8);
  position: relative;
  display: block;
  float: left;
}
.container .site .breadcrumb li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  /* Go big on the size, and let overflow hide */

  border-bottom: 50px solid transparent;
  border-left: 30px solid rgba(138, 35, 15, 0.8);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}
.container .site .breadcrumb li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}
.container .site .breadcrumb li a:hover {
  background: #8a230f;
}
.container .site .breadcrumb li a:hover:after {
  border-left-color: #8a230f !important;
}
.container .site .breadcrumb li:first-child a {
  padding-left: 10px;
}
.container .site .breadcrumb li:nth-child(2) a {
  background: #b82f14;
}
.container .site .breadcrumb li:nth-child(2) a:after {
  border-left-color: #b82f14;
}
.container .site .breadcrumb li:nth-child(3) a {
  background: #e63a19;
}
.container .site .breadcrumb li:nth-child(3) a:after {
  border-left-color: #e63a19;
}
.container .site .breadcrumb li:nth-child(4) a {
  background: #eb6247;
}
.container .site .breadcrumb li:nth-child(4) a:after {
  border-left-color: #eb6247;
}
.container .site .breadcrumb li:nth-child(5) a {
  background: #f08975;
}
.container .site .breadcrumb li:nth-child(5) a:after {
  border-left-color: #f08975;
}
.container .site .breadcrumb li:last-child a {
  background: transparent !important;
  pointer-events: none;
  cursor: default;
}
.container .site .breadcrumb li:last-child a:after {
  display: none;
}
.container .site .breadcrumb li:last-child a:before {
  display: none;
}
.container .site .meta {
  color: #aaa;
}
.container .site .footer {
  font-size: 18px;
  color: #000000;
  border-top: 1px solid #8a230f;
  overflow: hidden;
}
.container .site .footer .contact {
  list-style: none;
}
.sets {
  /* Firefox */

  -moz-column-count: 3;
  /* Safari and Chrome */

  -webkit-column-count: 3;
  /* "Standard" */

  column-count: 3;
  /* Firefox */

  -moz-column-gap: 9px;
  /* Safari and Chrome */

  -webkit-column-gap: 9px;
  /* "Standard" */

  column-gap: 9px;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  column-fill: auto;
}
.sets .photoHolder {
  padding: 7px;
  background: #f6f6f6;
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
  -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
  -o-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
  box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
  display: inline-block;
  overflow: hidden;
  width: 250px;
  margin: 15px;
}
.sets .photoHolder .image-cropper {
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
}
.sets .photoHolder .image-cropper img {
  max-width: 500px;
  width: auto;
  height: auto;
}
.sets .photoHolder .image-cropper .centered {
  position: absolute;
  left: -25%;
  top: -25%;
}
.sets .photoHolder .hover_block {
  width: 250px;
  position: relative;
  overflow: hidden;
}
.sets .photoHolder .hover_block .circleOver {
  border-radius: 50% 50% 50% 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
  -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
  height: 175%;
  width: 125%;
  position: absolute;
  top: -37.5%;
  left: -12.5%;
  -webkit-transition: all 250ms linear 0;
  -moz-transition: all 250ms linear 0;
  transition: all 250ms linear 0;
}
.sets .photoHolder .hover_block:hover .circleOver {
  -webkit-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
  -o-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
}
.sets .photoHolder .hover_block .hoverInfo {
  width: 500px;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
}
.sets .photoHolder .hover_block .hoverInfo h1 {
  font-size: 18px;
  padding: 10px 20px;
  background: rgba(138, 35, 15, 0.3);
  color: #E7E7E7;
  position: absolute;
  top: 25px;
  left: -100%;
  -webkit-transition: left 200ms linear 0;
  -moz-transition: left 200ms linear 0;
  transition: left 200ms linear 0;
}
.sets .photoHolder .hover_block .hoverInfo p {
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
  position: absolute;
  top: 85px;
  left: 10%;
  width: 80%;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 200ms linear 0;
  -moz-transition: opacity 200ms linear 0;
  transition: opacity 200ms linear 0;
}
.sets .photoHolder .hover_block .hoverInfo:hover h1 {
  left: 0;
  transition-delay: 250ms;
  -webkit-transition-delay: 250ms;
  -moz-transition-delay: 250ms;
}
.sets .photoHolder .hover_block .hoverInfo:hover p {
  opacity: 1;
  transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -moz-transition-delay: 600ms;
}
.sets .photoHolder .hover_block .hoverInfo:hover a {
  right: 0;
  -webkit-transition: right 200ms linear 700ms, color, background 200ms linear;
  -moz-transition: right 200ms linear 700ms, color, background 200ms linear;
  transition: right 200ms linear 700ms, color, background 200ms linear;
}
@media (max-device-width: 1024px) {
  /*IPad portrait AND netbooks, AND anything with smaller screen*/
  body {
    font-size: 12px;
  }
  /*****************************************************************************/
  /*
      /* Site
      /*
      /*****************************************************************************/
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
  }
  .container .header {
    margin-top: 6px;
    margin-bottom: 6px;
    line-height: normal;
  }
  .container .header h1.title {
    font-family: 'Great Vibes', Helvetica, sans-serif;
    font-size: 54px;
    margin-bottom: 0;
    color: #000000;
    display: inline-block;
  }
  .container .header a {
    font-weight: bold;
    text-decoration: none;
  }
  .container .header a:hover {
    color: rgba(0, 0, 0, 0.7);
  }
  .container .site {
    text-align: center;
    line-height: 1.5em;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 2px 2px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.5) inset, 0 1px rgba(255, 255, 255, 0.3) inset, 0 10px rgba(255, 255, 255, 0.2) inset, 0 10px 20px rgba(255, 255, 255, 0.25) inset, 0 -15px 30px rgba(0, 0, 0, 0.3);
    height: 100%;
    background: #8d8244;
  }
  .container .site .breadcrumb {
    list-style: none;
    overflow: hidden;
    font-size: 12px;
  }
  .container .site .breadcrumb li {
    float: left;
  }
  .container .site .breadcrumb li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 0 10px 65px;
    background: rgba(138, 35, 15, 0.8);
    position: relative;
    display: block;
    float: left;
  }
  .container .site .breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
  
    border-bottom: 50px solid transparent;
    border-left: 30px solid rgba(138, 35, 15, 0.8);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
  }
  .container .site .breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
  }
  .container .site .breadcrumb li a:hover {
    background: #8a230f;
  }
  .container .site .breadcrumb li a:hover:after {
    border-left-color: #8a230f !important;
  }
  .container .site .breadcrumb li:first-child a {
    padding-left: 10px;
  }
  .container .site .breadcrumb li:nth-child(2) a {
    background: #b82f14;
  }
  .container .site .breadcrumb li:nth-child(2) a:after {
    border-left-color: #b82f14;
  }
  .container .site .breadcrumb li:nth-child(3) a {
    background: #e63a19;
  }
  .container .site .breadcrumb li:nth-child(3) a:after {
    border-left-color: #e63a19;
  }
  .container .site .breadcrumb li:nth-child(4) a {
    background: #eb6247;
  }
  .container .site .breadcrumb li:nth-child(4) a:after {
    border-left-color: #eb6247;
  }
  .container .site .breadcrumb li:nth-child(5) a {
    background: #f08975;
  }
  .container .site .breadcrumb li:nth-child(5) a:after {
    border-left-color: #f08975;
  }
  .container .site .breadcrumb li:last-child a {
    background: transparent !important;
    pointer-events: none;
    cursor: default;
  }
  .container .site .breadcrumb li:last-child a:after {
    display: none;
  }
  .container .site .breadcrumb li:last-child a:before {
    display: none;
  }
  .container .site .meta {
    color: #aaa;
  }
  .container .site .footer {
    font-size: 12px;
    color: #000000;
    border-top: 1px solid #8a230f;
    overflow: hidden;
  }
  .container .site .footer .contact {
    list-style: none;
  }
  .sets {
    /* Firefox */
  
    -moz-column-count: 3;
    /* Safari and Chrome */
  
    -webkit-column-count: 3;
    /* "Standard" */
  
    column-count: 3;
    /* Firefox */
  
    -moz-column-gap: 6px;
    /* Safari and Chrome */
  
    -webkit-column-gap: 6px;
    /* "Standard" */
  
    column-gap: 6px;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
  }
  .sets .photoHolder {
    padding: 7px;
    background: #f6f6f6;
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    -o-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    display: inline-block;
    overflow: hidden;
    width: 150px;
    margin: 15px;
  }
  .sets .photoHolder .image-cropper {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
  }
  .sets .photoHolder .image-cropper img {
    max-width: 300px;
    width: auto;
    height: auto;
  }
  .sets .photoHolder .image-cropper .centered {
    position: absolute;
    left: -25%;
    top: -25%;
  }
  .sets .photoHolder .hover_block {
    width: 150px;
    position: relative;
    overflow: hidden;
  }
  .sets .photoHolder .hover_block .circleOver {
    border-radius: 50% 50% 50% 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    height: 175%;
    width: 125%;
    position: absolute;
    top: -37.5%;
    left: -12.5%;
    -webkit-transition: all 250ms linear 0;
    -moz-transition: all 250ms linear 0;
    transition: all 250ms linear 0;
  }
  .sets .photoHolder .hover_block:hover .circleOver {
    -webkit-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
    -o-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
  }
  .sets .photoHolder .hover_block .hoverInfo {
    width: 300px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sets .photoHolder .hover_block .hoverInfo h1 {
    font-size: 18px;
    padding: 10px 20px;
    background: rgba(138, 35, 15, 0.3);
    color: #E7E7E7;
    position: absolute;
    top: 25px;
    left: -100%;
    -webkit-transition: left 200ms linear 0;
    -moz-transition: left 200ms linear 0;
    transition: left 200ms linear 0;
  }
  .sets .photoHolder .hover_block .hoverInfo p {
    font-size: 18px;
    line-height: 1.4;
    color: #000000;
    position: absolute;
    top: 85px;
    left: 10%;
    width: 80%;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 200ms linear 0;
    -moz-transition: opacity 200ms linear 0;
    transition: opacity 200ms linear 0;
  }
  .sets .photoHolder .hover_block .hoverInfo:hover h1 {
    left: 0;
    transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
  }
  .sets .photoHolder .hover_block .hoverInfo:hover p {
    opacity: 1;
    transition-delay: 600ms;
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
  }
  .sets .photoHolder .hover_block .hoverInfo:hover a {
    right: 0;
    -webkit-transition: right 200ms linear 700ms, color, background 200ms linear;
    -moz-transition: right 200ms linear 700ms, color, background 200ms linear;
    transition: right 200ms linear 700ms, color, background 200ms linear;
  }
}
@media (min-width: 960px) {
  .sets {
    /* Firefox */
  
    -moz-column-count: 3;
    /* Safari and Chrome */
  
    -webkit-column-count: 3;
    /* "Standard" */
  
    column-count: 3;
    /* Firefox */
  
    -moz-column-gap: 9px;
    /* Safari and Chrome */
  
    -webkit-column-gap: 9px;
    /* "Standard" */
  
    column-gap: 9px;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
  }
  .sets .photoHolder {
    padding: 7px;
    background: #f6f6f6;
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    -o-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    display: inline-block;
    overflow: hidden;
    width: 250px;
    margin: 15px;
  }
  .sets .photoHolder .image-cropper {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
  .sets .photoHolder .image-cropper img {
    max-width: 500px;
    width: auto;
    height: auto;
  }
  .sets .photoHolder .image-cropper .centered {
    position: absolute;
    left: -25%;
    top: -25%;
  }
  .sets .photoHolder .hover_block {
    width: 250px;
    position: relative;
    overflow: hidden;
  }
  .sets .photoHolder .hover_block .circleOver {
    border-radius: 50% 50% 50% 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    height: 175%;
    width: 125%;
    position: absolute;
    top: -37.5%;
    left: -12.5%;
    -webkit-transition: all 250ms linear 0;
    -moz-transition: all 250ms linear 0;
    transition: all 250ms linear 0;
  }
  .sets .photoHolder .hover_block:hover .circleOver {
    -webkit-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
    -o-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
  }
  .sets .photoHolder .hover_block .hoverInfo {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sets .photoHolder .hover_block .hoverInfo h1 {
    font-size: 18px;
    padding: 10px 20px;
    background: rgba(138, 35, 15, 0.3);
    color: #E7E7E7;
    position: absolute;
    top: 25px;
    left: -100%;
    -webkit-transition: left 200ms linear 0;
    -moz-transition: left 200ms linear 0;
    transition: left 200ms linear 0;
  }
  .sets .photoHolder .hover_block .hoverInfo p {
    font-size: 18px;
    line-height: 1.4;
    color: #000000;
    position: absolute;
    top: 85px;
    left: 10%;
    width: 80%;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 200ms linear 0;
    -moz-transition: opacity 200ms linear 0;
    transition: opacity 200ms linear 0;
  }
  .sets .photoHolder .hover_block .hoverInfo:hover h1 {
    left: 0;
    transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
  }
  .sets .photoHolder .hover_block .hoverInfo:hover p {
    opacity: 1;
    transition-delay: 600ms;
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
  }
  .sets .photoHolder .hover_block .hoverInfo:hover a {
    right: 0;
    -webkit-transition: right 200ms linear 700ms, color, background 200ms linear;
    -moz-transition: right 200ms linear 700ms, color, background 200ms linear;
    transition: right 200ms linear 700ms, color, background 200ms linear;
  }
}
@media (min-width: 1100px) {
  .sets {
    /* Firefox */
  
    -moz-column-count: 3;
    /* Safari and Chrome */
  
    -webkit-column-count: 3;
    /* "Standard" */
  
    column-count: 3;
    /* Firefox */
  
    -moz-column-gap: 9px;
    /* Safari and Chrome */
  
    -webkit-column-gap: 9px;
    /* "Standard" */
  
    column-gap: 9px;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-fill: auto;
  }
  .sets .photoHolder {
    padding: 7px;
    background: #f6f6f6;
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    -moz-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    -o-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.3) ;
    display: inline-block;
    overflow: hidden;
    width: 250px;
    margin: 15px;
  }
  .sets .photoHolder .image-cropper {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
  .sets .photoHolder .image-cropper img {
    max-width: 500px;
    width: auto;
    height: auto;
  }
  .sets .photoHolder .image-cropper .centered {
    position: absolute;
    left: -25%;
    top: -25%;
  }
  .sets .photoHolder .hover_block {
    width: 250px;
    position: relative;
    overflow: hidden;
  }
  .sets .photoHolder .hover_block .circleOver {
    border-radius: 50% 50% 50% 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7) inset;
    height: 175%;
    width: 125%;
    position: absolute;
    top: -37.5%;
    left: -12.5%;
    -webkit-transition: all 250ms linear 0;
    -moz-transition: all 250ms linear 0;
    transition: all 250ms linear 0;
  }
  .sets .photoHolder .hover_block:hover .circleOver {
    -webkit-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
    -o-box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.7) inset;
  }
  .sets .photoHolder .hover_block .hoverInfo {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .sets .photoHolder .hover_block .hoverInfo h1 {
    font-size: 18px;
    padding: 10px 20px;
    background: rgba(138, 35, 15, 0.3);
    color: #E7E7E7;
    position: absolute;
    top: 25px;
    left: -100%;
    -webkit-transition: left 200ms linear 0;
    -moz-transition: left 200ms linear 0;
    transition: left 200ms linear 0;
  }
  .sets .photoHolder .hover_block .hoverInfo p {
    font-size: 18px;
    line-height: 1.4;
    color: #000000;
    position: absolute;
    top: 85px;
    left: 10%;
    width: 80%;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 200ms linear 0;
    -moz-transition: opacity 200ms linear 0;
    transition: opacity 200ms linear 0;
  }
  .sets .photoHolder .hover_block .hoverInfo:hover h1 {
    left: 0;
    transition-delay: 250ms;
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
  }
  .sets .photoHolder .hover_block .hoverInfo:hover p {
    opacity: 1;
    transition-delay: 600ms;
    -webkit-transition-delay: 600ms;
    -moz-transition-delay: 600ms;
  }
  .sets .photoHolder .hover_block .hoverInfo:hover a {
    right: 0;
    -webkit-transition: right 200ms linear 700ms, color, background 200ms linear;
    -moz-transition: right 200ms linear 700ms, color, background 200ms linear;
    transition: right 200ms linear 700ms, color, background 200ms linear;
  }
}
