---
layout: default
includeJQuery: true
includeFoundation: true
includeLightbox: true
---
<ul class="breadcrumbs">
  <li><a href="/gallery">Gallery</a></li>
  <li class="current">{{ page.title }}</li>
</ul>

{% if page.date %}<p class="meta">{{ page.date | date_to_string }}</p>{% endif %}

<div class="sets">
{{ content }}
<ul class="clearing-thumbs" data-clearing>
{% for image in page.images %}
    <li>
        <a class="th" href="{{ image.large }}"><img data-caption="{{ image.caption }}" src="{{ image.thumb }}"></a>
    </li>
{% endfor %}
</ul>
</div>
