---
layout: default
includeJQuery: true
includeFoundation: true
includeLightbox: true
---
<ul class="breadcrumbs">
  <li><a href="/gallery">Gallery</a></li>
  <li class="current">{{ page.title }}</li>
</ul>

{% if page.galleryDate %}<p class="meta">{{ page.galleryDate | date_to_string }}</p>{% endif %}

<div class="sets">
{{ content }}
<ul class="clearing-thumbs" data-clearing>
{% for image in page.images %}
    <li>
        <a class="th" href="/photos/large/{{ page.basedir }}/{{ image.file }}"><img data-caption="{{ image.caption }}" src="/photos/thumbs/{{ page.basedir }}/{{ image.file }}"></a>
    </li>
{% endfor %}
</ul>
</div>
