---
layout: main
---

<section class="sets">

{% for set in page.sets %}
    <div class="photoHolder">
        <a href="{{ set.url }}">
            <div class="hover_block">
                <div class="image-cropper">
                    <img class="centered" src="{{ set.pictureUrl }}">
                </div>
                <div class="circleOver"></div>
                <div class="hoverInfo">
                    <h1>{{ set.title }}</h1>
                    <p>{{ set.description }}</p>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
</section>